#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.invisible {
    display: none;
    overflow: hidden;
}