body {
    margin-top: 20px;
    background-color: #1E2124;
    font-family: Arial, Helvetica, sans-serif !important;
}

.container, .box {
    width: 80%;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.box {
    background-color: #424549;
    color: #777777;
    margin-top: 0px;
    margin-bottom: 10px;
}

.grid-2-items {
    display: grid; /*inline-grid: not display width, grid: display width (100%)*/
    gap: 0px;
    padding: 0px;
    margin: 0px;
    grid-template-areas:
    'wpm timer';
}

.grid-item {
    padding: 5px;
    font-size: 14px;
    margin: 0px;
}

div#buttons {
    background-color: #424549;
    color: #FFFFFF;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

button {
    position: relative;
    margin: 0px;
    background-color: #424549;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0px solid transparent;
    padding: 20px;
    box-sizing: border-box;
    font: inherit;
    width: 33.3333%;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #64676e;
}

#originalText {
    min-height: 300px;
    font-size: 30px;
}

#inputField {
    border: none;
    display: block;
    margin: 20px auto;
    caret-color: transparent;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #FFFFFF;
    font-size: 30px;
}

#inputField:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px #25668f;
}

.currentWord {
    color: white;
}

.correctWord {
    color: green;
}

.incorrectWord {
    color: red;
}

#scoreBoard {
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
}

.invisible {
    display: none;
}

#wpm {
    text-align: left;
    padding-left: 20px;
    grid-area: wpm;
}

#timer {
    text-align: right;
    padding-right: 20px;
    grid-area: timer;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}