body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#bg-image {
    background-image: url("../images/keyboard_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    filter: blur(5px);
    -webkit-filter: blur(5px);

    height: 100%;
}

.form {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    font-size: 14pt;
    overflow: auto;
}

#errorLogin, #errorSignup {
    background-color: #ff7171;
    color: white;
    width: 100%;
    border-radius: 8px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

#content-login {
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    */
}

.box {
    position: absolute;
    background-color: rgb(66, 69, 73);
    top: 10%;
    bottom: 10%;
    left: 25%;
    right: 25%;
    width: auto;
    height: auto;
    padding-bottom: 5%;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .box {
        top: 20px;
        bottom: 20px;
        left: 80px;
        right: 10px;
    }
}