body, html {
    height: 100%;
    margin: 0;
    background-color: #1e2124;
}

div#tab-container, div#tabs-profile, .container {
    background-color: #424549;
    color: #FFFFFF;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

div#tabs-profile {
    margin-top: 20px;
    padding: 0px;
    display: flex;
}

input.searchbox {
    position: relative;
    margin: 0px;
    background-color: #424549;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font: inherit;
    font-size: 20px;
    transition: 0.5s;
    cursor: text;
    border: 1px solid #64676e;
    width: 100%;
    box-sizing: border-box;
}

input.searchbox:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px #25668f;
}

.select-option {
    cursor: pointer;
}

textarea.resize-vertical {
    resize: vertical;
    min-height: 60px;
    max-height: 500px;
}

#friends {
    display: block;
}

.friend-item-username {
    grid-area: username;
    font-size: 30px;
    padding: 0px;
    transition: 0.5s;
}

.friend-item-buttons, .text-btn-column {
    grid-area: buttons;
    text-align: right;
    height: 40px;
}

.friend-item, .text-item {
    display: grid;
    grid-template-areas:
    'username username username username username buttons'
    'details details details details details details';
    gap: 0px;
    background-color: #64676e;
    padding: 10px;
    margin: 0px;
    margin-top: 5px;
    border-radius: 8px;
    box-sizing: border-box;
}

.friend-item-details {
    grid-area: details;
    display: block;
    width: 100%;
}

.add-button, .remove-button, .details-button, .remove-text-button {
    height: 40px;
    width: 40px !important;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% auto;
    background-image: url("../images/add-friend.svg");
    box-sizing: border-box;
}

.remove-text-button {
    float: right;
}

.remove-button {
    background-image: url("../images/remove-friend.svg");
}

.remove-text-button {
    background-image: url("../images/remove-text.svg");
}

.details-button {
    background-image: url("../images/details-friend.svg");
}

#user-pic, .friend-pic, .user-pic-friend {
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.width50px {
    width: 50px;
}

.user-pic-friend {
    height: 100%;
    width: 100%;
}

.friend-pic {
    width: 50px;
    height: 50px;
    float: left;
    box-sizing: border-box;
}

.friend-username {
    margin: 10px;
    padding: 0px;
    display: inline-block;
    font: inherit;
    height: 30px;
    float: left;
}

/*Display user details*/

.column {
    width: 50%;
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-top: 30px;
    margin: auto;
}

#username, .username-friend {
    font-size: 3em;
}

#email {
    margin-bottom: 20px;
}

.data .label {
    font-weight: bold;
}

#wpm, #precision, #numberOfGames, .wpm-friend, .precision-friend, .numberOfGames-friend {
    font-size: 1.4em;
}

.grid-container {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}

.grid-container-friend-compressed {
    grid-template-columns: 6% 70%;
}

.grid-container-friend {
    font-size: 15px;
}

.width100perc {
    width: 100%;
}

#background-user-pic-hover {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    border-radius: 8px;
    cursor: pointer;
}

#background-user-pic-hover:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/edit-image.svg");
}