body {
    margin-top: 30px;
    background-color: #1E2124;
    font-family: Arial, Helvetica, sans-serif !important;
}

.box {
    background-color: #424549;
    color: #777777;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    font-size: 2em;
}

input.box:focus {
    box-shadow: 0px 0px 0px 4px #25668f;
}

#inputField {
    border: none;
    display: block;
    margin: 20px auto;
    caret-color: transparent;
    font-family: Arial, Helvetica, sans-serif !important;
}

#inputField:focus {
    outline: none;
}

.correctWord {
    color: green;
}

.incorrectWord {
    color: red;
}
