body, html {
    height: 100%;
    margin: 0;
}

#bg-image {
    background-image: url("../static/keyboard_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    filter: blur(5px);
    -webkit-filter: blur(5px);

    height: 100%;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#title {
    color: white;
    text-shadow: black;
    font-family: monospace;
    font-size: 10em;
    margin: 20px;
}

#playButton {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 3em;
    font-family: monospace;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#playButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
}