# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file

# Passphrase used to generate jwt token 
SUPER_SECRET='your-secret-key'

# Url to the MongoDb database
# DB_URL='your-db-url-with-user-and-password'
DB_URL='mongodb://127.0.0.1:27017'

# Port on which the node.js instance will be listening
PORT=3000