# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file

# Passphrase used to generate jwt token 
SUPER_SECRET='your-secret-key'

# Url to the MongoDb database
# DB_URL='your-db-url-with-user-and-password'
DB_URL='mongodb://127.0.0.1:27017'

# Port on which the node.js instance will be listening
PORT=3000

# Tokens to generate and refresh the json web tokens 
# NOTE: use different tokens for each variable
# to generate one : type node then require('crypto').randomBytes(64).toString('hex')
ACCESS_TOKEN_SECRET=8bb39155d333e13719dde33f4389ce924177adb6ef33bc483392f06bbf269cc6109f657f7e6c90d0c9832765157feaa581fedf2a2fec429b70edf3ca6893ad33
REFRESH_TOKEN_SECRET=c70ba846ce4ecc327913aea24fa3fcf47cf6e2ceabd347202463e9e9c3e857b7e809e4bf87e19309c8f1d33db3e0ad47bb62de758ed016b8c6e02ebb28102878